body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
    padding-top: 20px;
}

.sidebar a {
    padding: 5px;
    display: block;
    color: whitesmoke;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #555;
}

.content {
    margin-left: 220px;
    padding: 20px;
    text-align: center;
    color: darkblue;
}

.container {
    width: 65%;
    margin: auto;
    text-align: left;
    color: black;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 1px 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


